PORT=8000

NODE_ENV=development

MONGO_URI=

JWT_SECRET=

JWT_EXPIRE=

SMTP_HOST=

SMTP_PORT=

SMTP_USER=

SMTP_PASS=

SMTP_FROM=

CLIENT_URL=http://localhost:8080

DELIVERY_CHARGE_FLAT=0

RAZORPAY_KEY_ID=

RAZORPAY_KEY_SECRET=
